{{ $current := . }}

<div class="menu-tree">
    {{ partial "menu/walk.html" (dict "current" $current "pages" .Site.Sections) }}
</div>

{{ define "_partials/menu/walk.html" }}
    {{ $current := .current }}
    {{ range .pages }}
        {{ if .IsSection }}
            <details{{ if $current.IsDescendant . }} open="true" {{ end }} class="menu-tree-section">
                <summary>
                    <a class="menu-tree-section-link {{ if .Eq $current }}menu-tree-current{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
                </summary>
                <div class="menu-tree-level">
                    {{ partial "menu/walk.html" (dict "current" $current "pages" .Pages) }}
                </div>
            </details>
        {{ else if .IsHome }}
        {{ else }}
            <p class="menu-tree-page"><a class="menu-tree-page-link {{ if .Eq $current }}menu-tree-current{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a></p>
        {{ end }}
    {{ end }}
{{ end }}
