{{ $current := . }}

<nav class="menu-tree">
    {{ partial "menu/walk.html" (dict "current" $current "page" .FirstSection) }}
</nav>

{{ define "_partials/menu/walk.html" }}
    {{ $current := .current }}
    {{ with .page }}
    {{ if .IsSection }}
        <p class="menu-tree-section"><a class="menu-tree-section-link {{ if .Eq $current }}menu-tree-current{{ end }}" href="{{ .RelPermalink }}">{{ or .Params.abbr .Title }}</a></p>
        {{ if or ($current.IsDescendant .) ($current.Eq .) }}
            <div class="menu-tree-level">
                {{ range .Pages }}
                    {{ partial "menu/walk.html" (dict "current" $current "page" .) }}
                {{ end }}
            </div>
        {{ end }}
    {{ else if .IsHome }}
        {{ range .Pages }}
            {{ partial "menu/walk.html" (dict "current" $current "page" .) }}
        {{ end }}
    {{ else }}
        <p class="menu-tree-page"><a class="menu-tree-page-link {{ if .Eq $current }}menu-tree-current{{ end }}" href="{{ .RelPermalink }}">{{ or .Params.abbr .Title }}</a></p>
    {{ end }}
    {{ end }}
{{ end }}
