<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div id="top-grid">
            <div class="top-block" id="title">
                {{ partial "title.html" . }}
            </div>
            <div class="top-block" id="header">
                {{ partial "header.html" . }}
            </div>
            <div class="top-block" id="menu">
                {{ partial "menu.html" . }}
            </div>
            <div class="top-block" id="{{ if .Param "outline" }}main{{ else }}wide-main{{ end }}">
                <main>
                    {{ block "main" . }}
                    {{ end }}
                </main>
                <footer>
                    {{ partial "footer.html" . }}
                </footer>
            </div>
            {{ if .Param "outline" }}
            <div class="top-block" id="outline">
                {{ partial "outline.html" . }}
            </div>
            {{ end }}
        </div>
        {{ partial "scripts.html" . }}
    </body>
</html>
